# Ignore everything be default
*

# Allow the Makefile
!Makefile

# Allow the README
!README.md

# Allow the source files
!src/
!src/**/*

# Allow the docs
!docs/
!docs/**/*

# Allow the .gitignore
!.gitignore